%h1 Update Task
.row
  .span6.offset4
    = form_for @task, url: user_project_task_path, method: :put do |f|
      = f.label :name
      = f.text_field :name
      = f.label :status
      = f.text_field :status
      = f.label :priority
      = f.text_field :priority
      = f.label :deadline
      .input-append.date.form_datetime
        = f.text_field :deadline, value: "#{@task.deadline.to_formatted_s(:db) unless @task.deadline.nil?}"
        %span.add-on= insert_html("<i class='icon-th'></i>")
      %p #{f.submit "Save", class: "btn btn-medium btn-primary"}

:javascript
  $(".form_datetime").datetimepicker({
    format: "dd-mm-yyyy hh:ii:ss"
  });