%h1 New Task
.row
  .span6.offset4
    = form_for @task, url: user_project_tasks_path do |f|
      = f.label :name
      = f.text_field :name, placeholder: "Type here name of task"
      = f.label :priority
      = f.text_field :priority, placeholder: "Enter integer number from 1 til 3"
      = f.label :deadline
      .input-append.date.form_datetime
        = f.text_field :deadline, placeholder: "Pick the date and time"
        %span.add-on= insert_html("<i class='icon-th'></i>")
      %p #{f.submit "Create", class: "btn btn-medium btn-primary"}

:javascript
  $(".form_datetime").datetimepicker({
    format: "dd-mm-yyyy hh:ii:ss"
  });