<h2>Edit user</h2>

<div class="row">
    <div class="span6 offset4">
        <%= form_for(@user) do |f| %>
            <%= render 'shared/error_messages', object: f.object %>
        <% end %>

        <%= form_for @user do |f| %>
            <%= render partial: "shared/user_form", locals: {f: f} %>
            <p><%= f.submit "Edit", class: "btn btn-primary btn-medium"%></p>
        <% end %>

    </div>
</div>
