<h2>Users</h2>
<% if @users.blank? %>
    <b>There is no users</b>
<% else %>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th></th>
            <th></th>
        </tr>
<% @users.each do |i| %>
        <tr>
            <td><%= i.id %></td>
            <td><%= link_to i.name, user_path(i)%></td>
            <td><%= i.email %></td>
            <td><%= link_to "Edit", user_path(i), method: :put %></td>
            <td><%= link_to "Delete", user_path(i), method: :delete, data: { confirm: "Are you sure?"} %></td>
        </tr>
    <% end %>
<% end %>