%h2= @project.name
.row
  .span6.offset3
    %h2 Tasks
    .offset1
      = form_for @task, url: user_project_tasks_path(@user, @project, @task) , html: {class: "input-append"} do |f|
        = f.text_field :name, id: "appendedInputButton", class: "span3", placeholder: "Add new task"
        = f.submit "Add", class: 'btn'
    - if @project.tasks.blank?
      %br There are no tasks
    - else
      %table.table.table-hover
        %tr
          %th ID
          %th Name
          %th Status
          %th
          %th
        - @project.tasks.each do |task|
          %tbdody
            %tr
              %td= task.id
              %td= task.name
              %td= task.status
              %td= link_to "Edit", edit_user_project_task_path(@user, @project, task)
              %td= link_to "Delete", user_project_task_path(@user, @project, task), method: :delete