.row
  .span6.offset3
    .form-head
      .content-head
        %i.icon-file-alt
        Current Tasks
    .form-mid
      .content-mid
        %i.icon-plus.icon-2x.plus
        = form_for @task, url: user_project_tasks_path(@user, @project, @task) , html: {class: "input-append"} do |f|
          = f.text_field :name, id: "appendedInputButton", class: "span4", placeholder: "Start typing here to create a task..."
          = f.submit "Add Task", class: 'btn'
    .form-list
      - if @project.tasks.blank?
        %p{style: "text-align: center"} There are no tasks
      - else
        %table.table.table-hover
          %tbdody
            - @project.tasks.each do |task|
              %tr
              = form_for task, url: user_project_task_path(@user, @project, task), method: :patch, remote: true do |f|
                %td= f.check_box :status, onchange: 'this.form.submit()'
                %td.borders= task.name
                %td.icon= link_to insert_html("<i class='icon-edit'></i>"), edit_user_project_task_path(@user, @project, task)
                %td.icon= link_to insert_html("<i class='icon-trash'></i>"), user_project_task_path(@user, @project, task), method: :delete
